h1= title
// p Welcome to #{title}
p Main Menu

<form action="/start" method="GET">
<button type="submit">New Game</button>
</form>

<br>

<form action="/load" method="GET">
<button type="submit">Load Game</button>
</form>