h1= title
// p Welcome to #{title}
p Main Menu

<form action="/game" method="GET">
<button type="submit">New Game</button>
</form>

<br>

<form action="/" method="POST">
<button type="submit">Load Game</button>
</form>