h1 Welcome to SC2 Manager
p Please enter a name.

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

p
 form(method='post', action='/newgame')
  input(type='text',name='user')
  input(type='submit', name='submit')

p (WARNING: This will delete any current saved games!)